.game{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*primeiro o tamanho (3) depois a fração do espaço (1) */
  gap: 15px;
  }

  .gameContent{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
  }

@media screen and (max-width: 425px) {
  .gameContent{
    flex-direction: column;
  }
}